@model IEnumerable<AudioModel>
@{
    ViewData["Title"] = "Downloads";
}
<div class="text-center">
    <h1 class="display-4">Downloads</h1>
</div>
<div class="text-center">
    <h1 class="display-4">artist</h1>
    <div id="player">
		<button id="play">Play</button>
		<button id="pause">Pause</button>
        <audio controls>
            <source src="/downloads/2.mp3" type="audio/mp3">
        </audio>
    </div>
    <ul class="list-group">
        @foreach (var audio in Model)
        {
            @audio.SongId @audio.Path
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <audio controls>
                        <source src="@audio.Path" type="audio/flac">
                    </audio>
                </div>
                <div class="d-flex gap-2">
                    <form asp-controller="Favorite" asp-action="AddToFavoriteArtists" asp-route-artist="@audio.Artist">
                        <button type="submit" class="btn btn-light">Add to favorites</button>
                    </form>
                    <form asp-controller="Favorite" asp-action="RemoveFromFavoriteArtists" asp-route-artist="remove/@audio.Artist">
                        <button type="submit" class="btn btn-light">Remove from favorites</button>
                    </form>
                    <form asp-controller="Download" asp-action="Delete" asp-route-artist="remove/@audio.SongId">
                        <button type="submit" class="btn btn-light">Delete</button>
                    </form>
                </div>
            </li>
        }
    </ul>
</div>
@section Scripts{
<script>
	$(document).ready(function () {
		var player = document.getElementById("player");
		var play = document.getElementById("play");
		var pause = document.getElementById("pause");
		play.addEventListener("click", function () {
            var audio = new Howl({
                src: ['/downloads/1.flac'],
                html5: true
            });
			audio.play();
		});
		pause.addEventListener("click", function () {
			audio.pause();
		});
	});
</script>
}