@{
    ViewData["Title"] = "Favorites";
}

<div class="text-center" id="favorites">
    <h1 class="display-4">Favorites</h1>
    <div id="delete-result"></div>
    <ul class="list-group">
    </ul>
</div>