/* ====================================
   BASE STYLES & TYPOGRAPHY
   ==================================== */

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
header {
    background: #141E30; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.navbar{
    color: white;
}
.border-bottom {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
}
body {
    margin-bottom: 60px;
    background: #0F2027; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#loading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.display-4 {
    font-size: 2.5rem;
    font-weight: 350;
    line-height: 1.2;
    color: #fff;
    padding: 1rem;
}
.bi {
    font-family: "bootstrap-icons";
    font-size: 35.5px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}