html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.player {
    visibility: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.player button {
    color: white;
    background: none;
    border: none;
    font-size: 16px;
}

.sticky-player button.play::after {
    content: "Play";
}

.sticky-player button.pause::after {
    content: "Pause";
}