@{
    ViewData["Title"] = "Home Page";
}

<div class="artists">
    <div class="row">
    <div class="search">
			<input type="text" class="form-control" id="search-input" placeholder="Search artists...">
    </div>
    </div>
    <div id="scrollArea" class="clusterize-scroll">
        <ul class="list-group" id="contentArea">
            <li class="clusterize-no-data">Loading data…</li>
        </ul>
    </div>
</div>