@model IEnumerable<string>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome home</h1>
    <button class="bruh"></button>
    <ul class="list-group">
        @foreach (var artist in Model)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a class="link" data-url="@Url.Action("Artist", "Home", new { artist = artist })">@artist</a>
                <div class="d-flex gap-2">
                    <a data-url="@Url.Action("AddToFavoriteArtists", "Favorite", new { artist = artist })">Add to favorites</a>
                </div>
            </li>
        }
    </ul>
</div>