@model IEnumerable<SongModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome home</h1>
    @foreach (var artist in Model)
    {
        <a asp-controller="Home" asp-action="Artist" asp-route-name="@artist">@artist</a>
    }
</div>