@model IEnumerable<string>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome home</h1>
    <ul class="list-group">
        @foreach (var artist in Model)
        {
            <li class="list-group-item">
                <a asp-controller="Home" asp-action="Artist" asp-route-artist="@artist">@artist</a>
            </li>
        }
    </ul>
</div>